heading
  .pull-right.badge.badge-info.text-center: h3.inline!= state_code
  h3!= name

section.meta.row
  .span2
    h5 Year Founded
    = founding_year
  .span2
    h5 Degree Type
    = type
  .span2
    h5 Student Body
    = student_body
  .span2
    h5 Calendar Type
    = calendar_desc

if canDrawTable()
  table.table.table-striped.table-bordered
    thead
      tr
        th.span4 Deadline
        th.span2 Application
        th.span2 Notification
    tbody
      if freshman.deadline
        tr
          td Fall Freshman
          td= freshman.deadline 
          td= freshman.notify 
      if out_of_state.deadline
        tr
          td Out-of-State
          td= out_of_state.deadline 
          td= out_of_state.notify 
      if transfer.allow_fall && transfer.deadline
        tr
          td Fall Transfer
          td= transfer.deadline 
          td= transfer.notify 
      if has_early_decision && early_decision.deadline
        tr
          td Early Decision
          td= early_decision.deadline 
          td= early_decision.notify 
      if has_early_action && early_action_plan.deadline
        tr
          td Early Action Plan
          td= early_action_plan.deadline 
          td= early_action_plan.notify 

hr.soften.clearfix
